@model MVC___complete_architecture.Models.T

<h1>@ViewData["title"]</h1>

<h2>@Model.title</h2>

<table class="table">
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Description</th>
    </tr>

   @foreach (var tutorial in Model)
    {
        <tr>
            <th>@tutorial.Id</th>
            <th>@tutorial.Name</th>
            <th>@tutorial.Description</th>
        </tr>
    }
   

  
</table>
